PORT=5000
MONGODB_URI=mongodb+srv://surajkurrey374_db_user:I7YRC00mdMP1hNA7@cluster0.vhliayf.mongodb.net/cybershield?retryWrites=true&w=majority=development
FRONTEND_URL=http://localhost:3000
JWT_SECRET=cybershield_super_secret_jwt_key_change_in_production_2024
JWT_EXPIRE=7d
